div.tabs
    div.tabs__buton-wrap#tab-buttons
        button(
        class= 'tabs__button tabs__button--primary js-tab-button'
        data-tab= 'tab_01'
        )
        button(
        class= 'tabs__button tabs__button--error js-tab-button'
        data-tab= 'tab_02'
        )
        button(
        class= 'tabs__button tabs__button--warning js-tab-button'
        data-tab= 'tab_03'
        )
    div.tabs__content-wrap.js-tabs-content
        div(data-tab='tab_01').tabs__content.is-active
            h2.h2-title.tabs__title
                span.tabs__title--edit Purple
                |  Trunk Set
            p.paragraph.tabs__paragraph At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias  excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
        div.tabs__content(data-tab='tab_02')
            h2.h2-title.tabs__title
                span.tabs__title--edit Red
                |  Trunk Set
            p.paragraph.tabs__paragraph Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
        div.tabs__content(data-tab='tab_03')
            h2.h2-title.tabs__title
                span.tabs__title--edit Yellow
                |  Trunk Set
            p.paragraph.tabs__paragraph Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
