.tabs {

}

.tabs__buton-wrap {
  display: flex;
}

.tabs__button {
  position: relative;
  width: calc(100% / 3);
  height: 100px;
  border: 0;
  outline: 0;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    width: 150px;
    height: 198px;
    margin: auto;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 30px solid;
    border-left: 30px solid transparent;
  }

  &--primary {
    background-color: $primary;

    &::before {
      background-image: url("../images/tab-img-01.png");
    }

    &::after {
      border-top-color: $error;
    }
  }
  &--error {
    background-color: $error;

    &::before {
      background-image: url("../images/tab-img-02.png");
    }
    &::after {
      border-top-color: $warning;
    }
  }
  &--warning {
    background-color: $warning;

    &::before {
      background-image: url("../images/tab-img-03.png");
    }
    &::after {
      border-top-color: #fff;
    }
  }

}

.tabs__content-wrap {

}

.tabs__content {
  display: none;
  padding: 30px 50px 45px;
  color: #fff;

  &[data-tab='tab_01'] {
    background-color: $primary;
  }

  &[data-tab='tab_02'] {
    background-color: $error;
  }

  &[data-tab='tab_03'] {
    background-color: $warning;

    & .tabs__title,
    & .tabs__paragraph {
      color: $text-color;
    }
  }
}


.tabs__content.is-active {
  display: block;
}

.tabs__title {
  margin-bottom: 20px;
  color: #fff;

  &--edit {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.6px;
  }
}