/*
XXL - browser viewport 1600 - 1440
XL -  browser viewport 1440 - 1241
xL -  browser viewport 1240 - 1001
M - browser viewport 1000 - 769
S - browser viewport 768 - 541
XS - browser viewport 540 - 321
xxs - browser viewport 320
*/

/* start break points*/
$xxl: 1600px;
$xl: 1440px;
$l: 1240px;
$m: 1000px;
$s-m: 860px;
$s: 768px;
$xs: 540px;
$xxs: 320px;


@mixin xxs {
  @media only screen  and (max-width: #{$xxs}) {
    @content;
  }
}

@mixin xs {
  @media only screen  and (max-width: #{$xs}) {
    @content;
  }
}
@mixin s {
  @media only screen and (max-width: #{$s}) {
    @content;
  }
}
@mixin s-m {
  @media only screen and (max-width: #{$s-m}){
    @content;
  }
}
@mixin m {
  @media only screen and (max-width: #{$m}){
    @content;
  }
}
@mixin l {
  @media only screen and (max-width: #{$l}) {
    @content;
  }
}
@mixin xl {
  @media only screen and (max-width: #{$xl}) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (max-width: #{$xxl}) {
    @content;
  }
}
/* end break points*/