.container__top-banner {
  padding-top: 40px;
  background: #6639b8 url("../images/top-banner-bg.png") no-repeat 50% / cover;
}

.container__video {
  position: relative;
  padding: 60px 0 50px;
  background-color: $secondary;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
  }
}

.container__tabs {
  padding: 200px 0 70px;
}

.container__registration {
  background-color: #f9f9f9;
}

.container__footer {
  background-color: #2c2142;
}