.h2-title {
  color: $text-color;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
}

.h4-title {
  color: $text-color;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

.paragraph {
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0.14px;

  &:last-child {
    margin-bottom: 0;
  }

}