doctype html
html(lang='en')

  //- Page title
  - var pageTitle = "Test"

  include components/core/head
body
  div.container
    //- Top Banner Block
    div.container__top-banner
      div.wrapper
        - var logo = 'images/logo.png';
        - var image = 'images/top-banner-men.png';
        include components/top-banner/top-banner

    //- Features Block
    div.container__features
      div.wrapper
        - var title = 'Heading, H1, factor 1.2';
        - var subTitle = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
        - var img_01 = 'images/img-01.png';
        - var img_02 = 'images/img-02.png';
        - var img_03 = 'images/img-03.png';
        include components/features/features

    //- Video Block
    div.container__video
      div.wrapper
        - var title = 'Video Placement'
        include components/video/video

    //- Tabs Block
    div.container__tabs
      div.wrapper
        include components/tabs/tabs

    //- Registration Block
    div.container__registration
      div.wrapper
        - var title = 'Create new account just now'
        include components/registration/registration

    //- Footer
    div.container__footer
      div.wrapper
        include components/footer/footer

  include components/core/scripts


