div.registration#registration
  h2.h2-title.registration__title= title
  form(
    class='registration-form'
    action=''
  )
    div.registration-form__input-wrap
      input(
      type='email'
      name='email'
      pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}"
      class='registration-form__input'
      placeholder='Your E-mail'
      required
      )
      button(
      type='submit'
      class='registration-form__button'
      ) Submit
    div.registration-form__checkbox-wrap
      input(
      type='checkbox'
      class='registration-form__checkbox'
      id='registration-checkbox'
      checked
      )
      label(
      for='registration-checkbox'
      class='registration-form__label')
        | I read and agree with
        a.registration-form__link(href='#') terms & conditions
