.registration {
  padding: 50px 0;
}

.registration__title {
  margin-bottom: 30px;
  text-align: center;
}

.registration-form {
  max-width: 630px;
  margin: auto;
}

.registration-form__input-wrap {
  display: flex;
}

.registration-form__input {
  padding-left: 30px;
  padding-right: 30px;
  width: 70%;
  height: 60px;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.11);
  border: none;
  background-color: #fff;
  border-radius: 50px 0 0 50px;
  -webkit-appearance: none;
}

.registration-form__input::placeholder {
  color: #888888;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.16px;
}

.registration-form__button {
  width: 30%;
  line-height: 58px;
  box-shadow: inset 0 3px 0 #936cda;
  background-color: $primary;
  color: $warning;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 0 50px 50px 0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color .2s ease-in-out,
              box-shadow .2s ease-in-out;

  &:hover {
    background-color: $error;
    box-shadow: inset 0 3px 0 #f9319d;
  }
}

.registration-form__checkbox-wrap {
  margin-top: 50px;
  text-align: center;
}

.registration-form__checkbox:not(checked)  {
  position: absolute;
  opacity: 0;
}

.registration-form__checkbox:not(checked) + .registration-form__label {
  position: relative;
  padding-left: 10px;
}

.registration-form__label {
  display: inline-block;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.14px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
  }

  &::before {
    width: 20px;
    height: 20px;
    background: $warning;
  }

  &::after {
    left: -15px;
    top: 5px;
    width: 14px;
    height: 12px;
    background-repeat: no-repeat;
  }
}
.registration-form__checkbox:checked + .registration-form__label::after {
  background-image: url("../images/checked.png");
}

.registration-form__link {
  display: inline-block;
  margin-left: 5px;
  color: #6639b8;
  letter-spacing: 0.14px;
  text-decoration: underline;
}
