div.top-banner
    nav.nav
        div.logo
            a(
            href=''
            class= 'logo__link'
            )
                img(
                class= 'logo__image'
                src= logo
                )
        div.nav-list
            a(
            href= '#'
            class= 'nav-list__button'
            ) Login
            a(
            href= '#'
            class= 'nav-list__button'
            ) Register
    div.top-banner__wrap
        div.top-banner__text
            span.top-banner__text--edit Free
            |  Education Workshop

        div.top-banner__image-wrap
            img(
            src= image
            class= 'top-banner__image'
            )
        div.top-banner__text-right
            div.top-banner__text.top-banner__text-preview
                span.top-banner__text-preview--edit London
                span.top-banner__text-preview--bold 24 - 27
                |  september
                a(
                href='#registration'
                class= 'top-banner__button js-link'
                )  Register now