.top-banner {

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {

}

.nav-list {
  margin-left: -3px;
  margin-right: -3px;
}

.nav-list__button {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  font-weight: 900;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 0.12px;
  color: #fff;
  border: 1px solid #a07ddf;
  border-radius: 5px;
  transition: color .2s ease-in-out,
              border-color .2s ease-in-out;

  &:hover {
    color: $warning;
    border-color: #a5a471;
  }
}

.top-banner__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-banner__text {
  max-width: 392px;
  font-size: 72px;
  line-height: 1.34;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  &--edit {
    display: block;
    color: $warning;
    font-weight: 700;
    letter-spacing: 0.72px;
  }
}

.top-banner__image-wrap {
  margin-bottom: -73px;
}

.top-banner__text-preview {
  max-width: 270px;
  font-size: 48px;
  letter-spacing: 0.48px;

  &--bold {
    font-weight: 700;
  }

  &--edit {
    display: block;
    color: $warning;
    font-weight: 700;
    letter-spacing: 0.48px;
  }
}

.top-banner__button {
  display: inline-block;
  padding-right: 44px;
  padding-left: 44px;
  color: $text-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.16px;
  box-shadow: inset 0 3px 0 #fffebd;
  background-color: #edeb3f;
  border-radius: 30px;
  transition: background-color .2s ease-in-out,
              box-shadow .2s ease-in-out,
              color .2s ease-in-out;

  &:hover {
    background-color: $error;
    box-shadow: inset 0 3px 0 #e6308f;
    color: #fff;
  }
}