.features {
  padding-top: 90px;
  padding-bottom: 50px;
  color: $text-color;
}

.features__title {
  margin-bottom: 30px;
}

.features__sub-title {
  margin-bottom: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.16px;
}

.features__item-wrap {
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: 40px;
}

.features__item {
  width: calc(100% / 3);
  margin: 20px 40px;

}

.features__image-wrap {
  display: flex;
  align-items: center;
  min-height: 116px;
  margin-bottom: 50px;
}

.features__image {
  margin: auto;
}

.features__item-title {
  margin-bottom: 40px;
  text-align: center;

  &--bold {
    font-weight: 400;
  }
}

.features__button-wrap {
  text-align: center;
}

.features__button {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  color: $primary;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  border-radius: 25px;
  border: 2px solid $primary;
  transition: border-color .2s ease-in-out,
              color .2s ease-in-out;

  &:hover {
    border-color: $error;
    color: $error;
  }
}