div.features
    h1.h2-title.features__title= title
    h5.features__sub-title= subTitle
    div.features__item-wrap
        div.features__item
            div.features__image-wrap
                img(
                src= img_01
                class= 'features__image'
                )
            h4.h4-title.features__item-title
                span.features__item-title--bold Powerful
                |  Analysis Tools
            p.paragraph.features__item-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
        div.features__item
            div.features__image-wrap
                img(
                src= img_02
                class= 'features__image'
                )
            h4.h4-title.features__item-title
                span.features__item-title--bold Best
                |  Investment Strategies
            p.paragraph.features__item-text Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
        div.features__item
            div.features__image-wrap
                img(
                src= img_03
                class= 'features__image'
                )
            h4.h4-title.features__item-title
                span.features__item-title--bold Effective
                |  Investment
            p.paragraph.features__item-text Temporibus autem quibusdam et aut officiis 	debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
    div.features__button-wrap
        a(
        href='#registration'
        class= 'features__button js-link'
        ) Register now