head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title= pageTitle

  // Disable tap highlight on IE
  meta(name='msapplication-tap-highlight', content='no')

  // Add to homescreen for Chrome on Android
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='application-name', content='Web Starter Kit')
  link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')

  // Add to homescreen for Safari on iOS
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-title', content='Web Starter Kit')
  link(rel='apple-touch-icon', href='images/touch/apple-touch-icon.png')

  // Tile icon for Win8 (144x144 + tile color)
  meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
  meta(name='msapplication-TileColor', content='#339af3')

  // Color the status bar on mobile devices
  meta(name='theme-color', content='#339af3')

  // fonts
  include fonts

  // build:css styles/main.css
  include styles
  // endbuild
